body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(22, 160, 133);
  color: rgb(22, 160, 133);
}


#quote-box {
  border-radius: 3px;
  width: 450px;
  background-color: white;
  padding: 40px 50px;
}

#text {
  text-align: center;
  width: 450px;
  font-weight: 500;
  font-size: 1.75em;
  font-family: 'Raleway', sans-serif;
}

.left-quote {
  margin-right: 0.4em;
}

#author {
  width: 450px;
  text-align: right;
  padding-top: 20px;
}

#button {
  padding-top: 20px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

#new-quote {
  float: right;
  text-align: center;
  background-color: rgb(22, 160, 133);
  color: white;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

#new-quote:hover {
  opacity: 0.7;
}

#tweet-quote {
  display: flex;
  background-color: rgb(22, 160, 133);
  color: white;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

#tweet-quote:hover {
  opacity: 0.9;
}




